.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -15px;
    transition: 0.3s;
    animation: ease-in;
    margin-top: 25px;
    
}

.time{
  display:flex;
  align-items: space-evenly;
  gap:60px;
  margin-top: 10px;
  

}
.card-container:hover{
transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
}
.image-container img{
    overflow: hidden;
    height: 200px;

}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;

}
h3,p{
    margin: 0;
    padding: 0;
}
.Newscard-title{
    margin-bottom: 0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 0.5rem;
      background-color: burlywood;
    border: none;
    transform: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}
.btn button:hover{
    background-color: rgba(27, 156, 252, 0.1); 
}
a{
    text-transform: uppercase;
    color: #1B9CFC;
    text-decoration: none;
    font-weight: bold;
}