a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}


.news{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}