a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

html, .App{
  background-color:white;
  height: 100%;
  
}
.news{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
